{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 2,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "eslintIntegration": true,
    "stylelintIntegration": true
}